html, body{
  height: 100%
}

body {
  background-color: #FFEEDD;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main {
  max-width: 80%;
}

.link-desc{
  display: flex;
  flex-direction: row;
  height: 2em;
  justify-content: flex-start;
  align-items: center; 
  width: 100%;
  
  
  a{
    flex: 1;
  }
  
  .desc{
    flex: 2;
  }
  
  strong{
    font-weight: bold;
    font-size: 2em;
  }
  
}

em.e-lang{
  font-weight: bold;
  font-style: italic;
  color: #009000;
  text-transform: uppercase;
}
