<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    <meta name="Author" content="Mark S. Miller">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{site.origin}}{{site.baseurl}}/erights.css" type="text/css">
  </head>
  <body>
      <div>
        {{ content }}
      </div>
  </body>
</html>
